.topnav {
  		overflow: hidden;
  		background-color:transparent;
		}

	.topnav a {
 		 float: right;
  		 text-align: center;
  		 color: #f2f2f2;
  		 padding: 14px 16px;
  		 text-decoration: none;
 		 font-size: 12px;
 		 font-weight:900;
		 }
	.topnav a:hover {
 		 background-color: #ddd;
 		 color: black;
		 }

	.topnav input[type=text] {
  		float: right;	
		padding: 6px;
 		border: none;
 		margin-top: 8px;
  		margin-right: 16px;
 		font-size: 9px;
		}
	.topnav input[type=text] {
		border: 1px solid #ccc;
		}
	.view{
		height:100%;
		}
		
	.view_final{
		height:70%;
	
	}
	.view1{
		background: url("cover.png")no-repeat center center;
			    background-size:cover;
		}
	.box1{
		height:auto;
		width:70%;
		background-color:#414143;
		margin:10%;
		margin-left:15%;
		margin-top:20%
		}
	.view2_content h4{
		margin-left:35%;
		margin-top:5%;
		font-size:35px;
		}
	.view2_content img{
		width:30%;
		height:auto;
		margin-left:15%;
		}
	.box2{
		margin-top:-30%;
		margin-left:40%;
		width:20%;
		height:50%;
		border: 2px solid #eab221;
		}
	.image_part1 img{
		width:40%;
		height:50%;
		margin-left:7%;
		margin-top:3%;
		}
	.image_part2 img{
		float:right;
		width:40%;
		height:108%;
		margin-top:-49%;
		margin-right:8%;
		}
	.box3{
		height:60%;
		width:100%;
		background-color:#eab221;
		margin-top:10%
		}
	.box4{
		height:auto;
		width:59%;
		background-color:#eab221;
		margin:10%;
		padding:12px;
		text-align:center;
		margin-left:40%;
		margin-top:-37%;
		}
	#view7_notes{
		font-size:25px;
		}
	.view8{
		background-color:#696969;
		}
	.logo_footer{
		width:10%;
		height:auto;
		margin-left:7%;
		}
	#notes1{
		margin-left:7%;
		color:white;
		margin-top:7%;
		}
	#notes2{
		color:white;
		margin-top:-8%;
		margin-left:43%
		}
	.contact{
		text-align:right;
		margin-right:14%;
		margin-top:-8%
		}